{% extends 'base.html' %}
{% load bootstrap %}

{% block main %}
    Editar Funcionarios
<br><br>

{{object}}

    <form method="post">
        {% csrf_token %}

        {{form|bootstrap}}

        <button type="submit" class="btn btn-main">Salvar</button>
    </form>
{% for documento in object.documento_set.all %}
    <li>
        <a href="{{ documento.arquivo.url }} "> {{ documento.descricao }}  </a><br>
    </li>
{% endfor %}
</ul>

{% if object %}
<a href="{% url 'create_documento' object.id %}" class="btn btn-success">
    Adicionar documento
</a>
{% endif %}

{% endblock %}