{% extends 'base.html' %}

{% block main %}
     <div class="row">
        <div class="col-sm">
            Olá {{ usuario.funcionario.nome }}
            <a href="{% url 'list_funcionarios' %}">Gerenciar Funcionarios</a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm">
            <a href="{% url 'logout' %}">logout</a>
        {% if usuario.funcionario.empresa %}
            <a href="{% url 'edit_empresa' usuario.funcionario.empresa.id  %}">Editar empresa</a>
        {% else %}
            <a href="{% url 'create_empresa' %}">Criar empresa</a>
        {%endif%}

        </div>
    </div>

{% endblock %}